*{
	margin: 0;
	padding: 0;
}
header img{
	display: block; 
	width: 100%; 
}

nav{
	background-color: #014ead;
}

nav a{
	text-decoration: none; 
	color: white; 
	line-height: 60px; 
	margin-left: 30px; 
	margin-right: 30px; 
}

#left{
	width: 30%;
	float: left; 
}

#left img{
	width: 300px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 50px; 
}

#right{
	width: 70%; 
	float: left;
}

#right .content{
	margin-top: 50px;
}

#right .content h3 a{
	text-decoration: none;
	color: #014ead; 
}

#right .content p{
	margin-top: 10px;
}

footer img{
	display: block;
	width: 100%;
}